<!--<p-table [value]="goodses" styleClass="p-datatable-gridlines">-->
<!--  <ng-template pTemplate="header">-->
<!--    <tr>-->
<!--      <th>ID</th>-->
<!--      <th>Название товара</th>-->
<!--      <th>Цена</th>-->
<!--      <th>Действие</th>-->
<!--    </tr>-->
<!--  </ng-template>-->
<!--  <ng-template pTemplate="body" let-goods>-->
<!--    <tr>-->
<!--      <td>{{goods.id}}</td>-->
<!--      <td>{{goods.name}}</td>-->
<!--      <td>{{goods.price}}</td>-->
<!--      <td>-->
<!--        <button pButton pRipple type="button" label="Изменить"-->
<!--                class="p-button-rounded p-button-success"-->
<!--                style="margin-right: 1rem" (click)="showEdit()"></button>-->
<!--        <button pButton pRipple type="button" label="Удалить"-->
<!--                class="p-button-rounded p-button-danger"></button>-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr *ngIf="isEdit">-->
<!--      <td></td>-->
<!--      <td>-->
<!--        <input type="text" placeholder="Название товара" class="form-control"-->
<!--               [(ngModel)]="goods.name" name="name">-->
<!--      </td>-->
<!--      <td>-->
<!--        <input type="text" placeholder="Цена" class="form-control"-->
<!--               [(ngModel)]="goods.price" name="price">-->
<!--      </td>-->
<!--    </tr>-->

<!--  </ng-template>-->
<!--</p-table>-->
<!--<br>-->
<!--<button pButton pRipple type="button" label="Добавить новый товар" class="p-button-raised p-button-warning"></button>-->

<div class="card">
  <p-table [value]="goodses" dataKey="id" editMode="row">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Название</th>
        <th>Цена</th>
        <th>Редактировать</th>
        <th>Удалить</th>
        <th style="width:8rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-goods let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="goods">
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="goods.id">
            </ng-template>
            <ng-template pTemplate="output">
              {{goods.id}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="goods.name" required>
            </ng-template>
            <ng-template pTemplate="output">
              {{goods.name}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="goods.price">
            </ng-template>
            <ng-template pTemplate="output">
              {{goods.price | currency: 'USD'}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(goods)" class="p-button-rounded p-button-text"></button>
          <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(goods)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
          <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(goods, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
        </td>
        <td>
          <button pButton type="button" label="Delete" icon="pi pi-trash"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
