<div *ngIf="isDataLoaded">
  <div class="card">
    <h2>Goods</h2>
    <p-table [value]="goodses">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
          <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
          <th pSortableColumn="quantity">Count <p-sortIcon field="quantity"></p-sortIcon></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-goods>
        <tr>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input type="text" [(ngModel)]="goods.name">
              </ng-template>
              <ng-template pTemplate="output">
                {{goods.name}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            {{goods.price | currency: 'RUB '}}
          </td>
          <td>{{goods.quantity}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
