<h1>{{title}}</h1>
<nav class="navigation">
  <a routerLink="/order_app/order">
    <button pButton pRipple type="button" label="Заказы" class="p-button-outlined"></button>
  </a>
  <a routerLink="/order_app/goods">
    <button pButton pRipple type="button" label="Товары" class="p-button-outlined"></button>
  </a>
  <a routerLink="/order_app/line">
    <button pButton pRipple type="button" label="Order Line" class="p-button-outlined"></button>
  </a>
</nav>
<br>
<router-outlet></router-outlet>

