<p-table [value]="goodsOrders" dataKey="name">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 10rem">Просмотреть заказ</th>
      <th pSortableColumn="id">Номер заказа <p-sortIcon field="id"></p-sortIcon></th>
      <th pSortableColumn="client">Клиент <p-sortIcon field="client"></p-sortIcon></th>
      <th pSortableColumn="address">Адрес <p-sortIcon field="address"></p-sortIcon></th>
      <th pSortableColumn="date">Дата <p-sortIcon field="date"></p-sortIcon></th>
      <th>Редактировать</th>
      <th>Удалить</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-order let-expanded="expanded" let-editing="editing" let-ri="rowIndex">
    <tr  [pEditableRow]="order">
      <td>
        <button type="button" pButton pRipple [pRowToggler]="order" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="order.id" required>
          </ng-template>
          <ng-template pTemplate="output">
            {{order.id}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="order.client" required>
          </ng-template>
          <ng-template pTemplate="output">
            {{order.client}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="order.address" required>
          </ng-template>
          <ng-template pTemplate="output">
            {{order.address}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="order.data" required>
          </ng-template>
          <ng-template pTemplate="output">
            {{order.date | date: 'short'}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(order)" class="p-button-rounded p-button-text"></button>
        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(order)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(order, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
      </td>
      <td>
        <button pButton type="button" label="" icon="pi pi-trash" (click)="deleteGoodsOrderById(order.id)"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-order>
    <tr>
      <td colspan="7">
        <div class="p-p-3">
          <p-table [value]="order.orderLines" dataKey="id">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="id">Товар <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="count">Количество <p-sortIcon field="count"></p-sortIcon></th>
                <th style="width: 4rem"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-line>
              <tr>
                <td>{{line.goodsName}}</td>
                <td>{{line.count}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="6">There are no orderLines for this order yet.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>






