<div>
  <h1 style="text-align: center;
      margin-top: 0;
      border-bottom: 3px solid cornflowerblue;
      color: cornflowerblue">Заказы</h1>
</div>

<div *ngIf="isDataLoaded">
  <p-table [value]="orders" dataKey="id" editMode="row">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id" style="width:9rem">№ Заказа <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="client">Клиент <p-sortIcon field="client"></p-sortIcon></th>
        <th pSortableColumn="address">Адрес <p-sortIcon field="address"></p-sortIcon></th>
        <th pSortableColumn="date">Дата создания <p-sortIcon field="date"></p-sortIcon></th>
        <th style="width:8rem"></th>
        <th style="width:8rem; text-align: center">Удалить</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-ord let-editing="editing" let-ri="rowIndex">
      <tr>
        <td>{{ord.id}}</td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <label>
                <input pInputText type="text" [(ngModel)]="ord.client">
              </label>
            </ng-template>
            <ng-template pTemplate="output">
              {{ord.client}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="ord.address">
            </ng-template>
            <ng-template pTemplate="output">
              {{ord.address}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          {{ord.date | date : 'dd/MM/yyyy HH:mm:ss'}}
        </td>
        <td>
          <button pButton icon="pi pi-shopping-cart" label="Товары" (click)="showGoods(ord.id)"></button>
        </td>
        <td style="text-align: center">
          <button pButton class="p-button-danger"
                  icon="pi pi-trash" (click)="deleteOrder(ord.id)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div style="margin-top: 1rem">
  <button pButton label="Добавить новый заказ" icon="pi pi-plus" (click)="addNewOrder(order)"></button>
</div>

