<div style="display: flex; flex-direction: column">
  <div style="display: flex; flex-direction: row" *ngFor="let order of goodsOrders">
    <div style="margin-right: 1rem">{{order.id}}</div>
    <div style="margin-right: 1rem">{{order.address}}</div>
    <div style="margin-right: 1rem">{{order.client}}</div>
    <div style="margin-right: 1rem">{{order.date}}</div>
  </div>
</div>
<div>
  <button (click)="editGoodsOrder()">edit</button>
</div>
<div>
  <button (click)="getGoodsOrderById()">get order</button>
  {{goodsOrder?.id}}
  {{goodsOrder?.address}}
  {{goodsOrder?.client}}
</div>
<div>
  <button (click)="deleteGoodsOrderByID()">delete</button>
</div>




